/AddressableAssetsData/
/AddressableAssetsData.meta
/ArabicSupport/
/ArabicSupport.meta
/AstarPathfindingProject/
/AstarPathfindingProject.meta
/com.rlabrecque.steamworks.net/
/com.rlabrecque.steamworks.net.meta
/Control Prompts/
/Control Prompts.meta
/Fonts/
/Fonts.meta
/TextMesh Pro/
/TextMesh Pro.meta
*.meta